@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Josefin Sans", sans-serif;
	transition: background-color 0.3s ease-in-out;
}

.app {
	min-height: 100vh;
	background-color: rgb(23, 24, 35);

	&.whiteBg {
		background-color: white;

		::-webkit-scrollbar-track {
			background-color: white;
		}
	}

	.header {
		width: 100%;
		height: 17.5rem;
		background-image: url("./images/bg-desktop-dark.jpg");
		background-repeat: no-repeat;
		background-size: cover;

		&.whiteBg {
			background-image: url("./images/bg-desktop-light.jpg");
		}
	}

	.header img {
		width: 100%;
		min-height: 100%;
		object-fit: cover;
	}

	.todos {
		max-width: 37.5rem;
		margin: -16.875rem auto 1.25rem auto;

		.todosHeader {
			display: flex;
			justify-content: space-between;
			align-items: center;

			> img {
				cursor: pointer;
			}

			h1 {
				color: white;
				font-size: 3rem;
				letter-spacing: 0.75rem;
			}
		}

		.input_container {
			margin-top: 3.125rem;
			width: 100%;
			position: relative;

			input {
				background-color: rgb(37, 39, 61);
				box-shadow: rgba(0, 0, 0, 1) 0 35px 50px -15px;
				width: 100%;
				border: none;
				outline: none;
				color: white;
				height: 3.125rem;
				border-radius: 10px;
				padding: 0.625rem;
				font-size: 1.1rem;
				padding-left: 3.125rem;

				&.whiteBg {
					background-color: white;
					box-shadow: rgb(255, 255, 255) 0 5px 5px -10px;
					color: black;
					box-shadow: #25273d 4px 4px 24px;
				}
			}

			.circle {
				border: 1px solid rgb(57, 58, 75);
				height: 1.5625rem;
				width: 1.5625rem;
				position: absolute;
				left: 0.9375rem;
				top: 1.5625rem;
				transform: translateY(-50%);
				cursor: pointer;
				border-radius: 50%;
			}
		}

		.todos_container {
			margin-top: 3.125rem;
			width: 100%;
			background-color: rgb(37, 39, 61);
			overflow-y: auto;
			overflow-x: hidden;
			max-height: 25rem;
			border-radius: 7px;
			box-shadow: #25273d 4px 4px 24px;

			&.active {
				box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
			}

			.todo_container {
				width: 100%;
				position: relative;

				> img {
					cursor: pointer;
				}

				.todo {
					width: 100%;
					color: lightgray;
					height: 3.125rem;
					cursor: pointer;
					padding: 1.125rem 1.875rem 1.375rem 3.125rem;
					font-size: 1.2rem;
					list-style: none;
					border-bottom: 1px solid rgb(57, 58, 75);
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;

					&.active {
						text-decoration: line-through;
						color: rgb(57, 57, 75);
					}

					&.whiteBg {
						background-color: white;
						color: rgb(106, 108, 134);
						border-color: lightgray;

						&.active {
							color: rgb(57, 58, 75);
						}
					}
				}

				.circle {
					border: 1px solid rgb(57, 58, 75);
					height: 1.5625rem;
					width: 1.5625rem;
					position: absolute;
					left: 0.9375rem;
					top: 1.5625rem;
					transform: translateY(-50%);
					cursor: pointer;
					border-radius: 50%;

					img {
						display: none;
					}

					&.active {
						background: linear-gradient(
							90deg,
							rgb(87, 221, 255) 0%,
							rgb(192, 88, 243) 100%
						);
						border: none;
						display: flex;
						justify-content: center;
						align-items: center;

						img {
							display: inline-block;
						}
					}
				}

				.delete-icon {
					display: none;
					position: absolute;
					right: 0.9375rem;
					top: 1.5625rem;
					transform: translateY(-50%);
				}

				&:hover .delete-icon {
					display: inline-block;
				}
			}

			.todos_footer {
				width: 100%;
				color: white;
				background-color: rgb(37, 39, 61);
				padding: 0.9375rem;
				display: flex;
				justify-content: space-between;
				color: rgb(106, 108, 134);

				&.whiteBg {
					background-color: white;
					color: rgb(106, 108, 134);

					.clear {
						&:hover {
							color: #ccc;
						}

						&.active {
							color: rgb(41, 41, 238);
						}
					}
				}

				.types {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 0.625rem;
				}

				.clear {
					cursor: pointer;

					&:hover {
						color: white;
					}
					&.active {
						color: rgb(41, 41, 238);
					}
				}
			}
		}
	}
}

/* Mobile */
@media (max-width: 680px) {
	.todos {
		width: 90%;

		.todos_footer {
			.types {
				width: 100%;
				justify-content: center;
			}

			> p {
				display: none;
			}
		}
	}
}

::-webkit-scrollbar {
	width: 0.625rem;
}

::-webkit-scrollbar-thumb {
	border-radius: 15px;
	background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}
